.clear-btn {
  display: flex;
  flex: 1;
  height: 4em;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 1rem;
  outline: 2px solid #888;
  height: 3em;
  background-color: #c5c3c5;
}
